Repository kubeshop/kusk, pull requests merged in 2021-09, with the labels that each got.

#153 rate limit: add group option
  docs/ambassador.md
  generators/ambassador/ambassador.go
  generators/ambassador/ambassador_test.go
  generators/ambassador/mapping_template.go
  generators/ambassador/rate_limit_template.go
  generators/nginx_ingress/nginx_ingress.go
  options/ratelimit.go
Labels: area/generators, kind/feature

#159 Traefik generator support
  README.md
  cluster/cluster.go
  cluster/cluster_test.go
  cmd/generators.go
  docs/getting-started.md
  docs/traefik.md
  examples/petstore/README.md
  generators/traefik/traefik.go
  generators/traefik/traefik_test.go
  go.mod
  go.sum
  mkdocs.yml
  spec/spec_test.go
  wizard/flow/flow.go
  wizard/flow/traefik.go
  wizard/wizard.go
Labels: area/generators, kind/feature

#168 ambassador: fix rate limit CRDs being duplicated
  generators/ambassador/ambassador.go
  generators/ambassador/ambassador_test.go
  generators/ambassador/mapping_template.go
  generators/ambassador/rate_limit_template.go
Labels: area/generators, kind/bug

#172 Document merging of OpenAPI and x-kusk file
  docs/openapi-extension.md
Labels: area/documentation
